.App {
  color: white;
  font-family: sans-serif;
}
.toggle{
  border-color: white;
  background-color: black;
  color: white;
  float: right;
  font-size: 60%;
}
.toggle:hover{
  background-color: white;
  color: black;
}
